*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer{
    color: #fcf7f7;
    padding: 20px 10px;
    text-align: center;
}